* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
span {
	display: block;
}
a {
	text-decoration: none;
}
li{
	list-style: none;	
}
@font-face {
	font-family: "Lobster 1.4";
	src: url("Lobster.ttf");
	src: url("Lobster-1.otf");
}
@font-face {
	font-family: "Bebas Neue";
	src: url("bebasneuebold.ttf");
}
@font-face {
	font-family: "Open Sans";
	src: url("OpenSans-Regular.ttf");
}

.logo-text{
	font-family: "Lobster 1.4";
	font-size: 49px;
	color: #3cc3b5;	
}

.cart-photo:hover {
	opacity: 0.5;
}
.logo{	
	align-self: center;	
}
header{
	height: 120px;
	display: flex;
	flex-direction: column;	 	
}
.header-top{
	height: 82px;
  display: flex;
  justify-content: space-between;
  padding: 0 150px 0 150px;
}
.container{
	width: 1280px;
  height: auto;
  margin: 0 auto;
}
.button-icon {
  background-image: url('Aditu_poisk.svg');
  width: 22px;
  height: 22px;
  background-color: #ffffff;
  outline: none;
  border: none;
  margin-top: 5px;
}
.search{
	align-self: center;
	width: 434px;
  border: 1px solid #e1e1e1;
  min-height: 32px;  
}
input[type="search"]{
	padding-left: 10px;
	width: 395px;
	height: 30px;
  outline: none;
  border: none;
  -webkit-appearance: none;
  vertical-align: bottom;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration{ 
	display: none; 
}
.cart{	
	display: flex;
	justify-content: center;
}
.cart-text{
	font-family: "Bebas Neue";
	font-size: 33px;
  color: #a1a1a1;  
  align-self: center;
  padding-left: 16px;
}
.cart-photo{
	align-self: center;
}
.main-menu{
	height: 38px;
	display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4ccfc1;
  padding: 10px 148px 10px 144px;
}
.main-menu li{
	display: flex;
	padding-top: 2px;
	height: 17px;
	border-right: 2px solid #ffffff; 
}
.main-menu .menu-list-none{
	border-right: none;
}
.menu-list-none .menu-list{
	padding-right: 0px;
}
.menu-list{	 
	align-self: center;
	padding-right: 19px;	
	display: block;	
	font-family: "Bebas Neue";
	font-size: 21px;	
  color: #ffffff;  
  letter-spacing: 0.5px; 
  text-align: center;  
}
.main-menu li:hover {
	opacity: 0.5;
}
main{
	height: 1390px;	
}
.products-1{
	height: 635px;
	display: flex;
  flex-direction: column;	
}
.row-1{
	align-self: center;
	padding-bottom: 38px;
}
.row-2{
	padding-top: 15px;
	align-self: stretch;
  padding-left: 101px;
}
.cowhide{
	font-size: 61px;
	font-family: "Bebas Neue";
	line-height: 54px;
	display: inline-block;
	color: #ffffff;	
}
.standard{
	font-size: 61px;
	font-family: "Bebas Neue";
	line-height: 54px;
	display: block;
	color: #ffffff;	
}
.white-coloured{
	font-size: 17px;
	font-family: "Open Sans";
	line-height: 28px;	
	color: #ffffff;
	padding-top: 10px;
	padding-right: 15px;
}
.link-now{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	width: 139px;
	height: 47px;
	border: 3px solid white;
  border-radius: 8px;
  background: #37c6b5;    
  font-size: 27px;
	font-family: "Bebas Neue";
	color: #ffffff;
	letter-spacing: 0.5px;
	line-height: 25px;
  margin-left: 3px;   
}
.shop-now{
	margin-top: 4px;
}

.link-now:hover {
	opacity: 0.5;
}
.slide-1{
	background: #37c6b5;
	height: 445px;
	display: flex; 
	justify-content: space-between;
	padding: 67px 274px 0 206px;
}
.slide-2{
	background: #37c6b5;
	height: 445px;	
	display: flex; 
	justify-content: space-between;
	padding: 67px 274px 0 206px;
}
.slide-3{
	background: #37c6b5;
	height: 445px;	
	display: flex; 
	justify-content: space-between;
	padding: 67px 274px 0 206px;
}
.slide-nav-1{
	height: 190px;
	display: flex;
	justify-content: space-between;
	padding: 0 151px 0 151px;
}
.category-1{
	border-right: 1px solid #e7e7e7;
	padding-right: 30px;  	
}
.category-2{
	border-right: 1px solid #e7e7e7;
	padding-left: 14px;
	padding-right: 64px;
}
.category-3{
	padding-left: 43px;
	padding-right: 64px;
}
.cary-1{
	width: 365px;
	height: 190px;
	padding-top: 21px;
	padding-bottom: 18px;
	display: flex;
	justify-content: space-between;
}
.shmot-1{
	text-transform: uppercase;	
	display: block; 
	padding-bottom: 20px;
}
.img-shmot-1{
	align-self: center;
}
.a-shmot-1{
	align-self: center;
}
.shop{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 32px;
  border-radius: 4px;
  background: #3cc395;    
  font-size: 19px;
	font-family: "Bebas Neue";
	letter-spacing: 0.5px;
	color: #ffffff;	
	line-height: 17px; 
}
.span-shop{
	padding-top: 3px;
}
.shop:hover {
	opacity: 0.5;
}
.branded{
	display: block;
	font-size: 27px;
	line-height: 25px;
	color: #afafaf;
	font-family: "Bebas Neue";
}
.shoes{
	display: inline-block;
	font-size: 27px;
	line-height: 25px;
	color: #afafaf;
	font-family: "Bebas Neue";
}
.products-2{
	height: 755px;
	display: flex;
  flex-direction: column;	
}
.featured-1{
	height: 70px;
	background: #37c6b5;	
	padding: 24px 0px 21px 195px;
}

.featured-2{
	display: inline-block;	
	font-size: 31px;
	line-height: 25px;
	font-family: "Bebas Neue";
	color: #ffffff;
	letter-spacing: 0.2px;
}
.tovary{
	height: 685px;
	display: flex;
	flex-direction: column;
	padding: 45px 210px 70px 200px;
}
.tovary-1{	
	display: flex;
	justify-content: space-between;
}
.tovary-2{
 padding-top: 45px;
	display: flex;
	justify-content: space-between;
}
.cary-2{
	width: 255px;
	height: 262px;
	display: flex;
	flex-direction: column;
	border-width: 1px 1px 5px;
	border-style: solid;
	border-color: #e7e7e7 #e7e7e7 #3cc395;
	padding-top: 20px;
	padding-bottom: 30px;
}
.buy{
	width: 74px;
	height: 34px;	
	align-self: center;
}
.buy-now{
	padding-top: 2px;
}
.blok{ 
	display: flex;
	justify-content: space-between;
	padding: 11px 55px 0px 68px;
}
.a-shmot-2{
	align-self: center;
	padding-top: 10px;
}
.img-shmot-2{
	align-self: center;
	width: 189px;
	height: 130px;
	text-align: center;
}
.shmot-2{
	align-self: center;
}
footer{
	height: 380px;
	display: flex;
	flex-direction: column;
}
.footer-1{
	height: 335px;
	background: #37c6b5;
	display: flex;
	align-items: center;
	padding: 40px 240px 38px 195px
}
.footer-2{
	height: 45px;
	background: #2da89b;
}
.zagolovok:hover, .info-list:hover {
	opacity: 0.5;
}
.zagolovok{
	display: block;
	font-size: 27px;
	line-height: 25px;
	font-family: "Bebas Neue";
	color: #ffffff;
	letter-spacing: 1px;
	padding-top: 7px;	
}
.info-list-1{
	padding-top: 15px;
}
.info-list{
	display: block;
	font-size: 15px;
	line-height: 28px;
	font-family: "Open Sans";
	color: #ffffff;
	
	padding-left: 5px;
}
.spisok{
	padding-left: 97px;
}


