* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

@font-face {
	font-family: "LM Roman 10";
	src: url("fonts/lmromanslant10-regular.otf");
}
@font-face {
	font-family: "Raleway medium";
	src: url("fonts/raleway-medium.ttf");
}

@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800i&display=swap');

a {
	text-decoration: none;
}
span {
	display: block;
}
.container{
	height: auto;
  margin: 0 auto;
	width: 1600px;
}
.columns{
	display: flex;
	flex-direction: column;
	margin: 50px;
}

.section-1{
	height: 750px;	
	background: url("images/background.png") no-repeat;
	padding-left: 9px;
}
.section{
	margin-top: 50px;
	height: 750px;
}
.picture-1{
	background: url("images/A.png") no-repeat;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
.text-1{
	display: flex;
	flex-direction: column;
	padding: 233px 600px 220px 170px;
}
.raly-1{
	font-family: "Raleway", sans-serif;
	font-size: 50px;
	font-weight: 100;
}
.raly-7{
	font-family: "Raleway", sans-serif;
	font-size: 50px;
	font-weight: 700;
	display: inline;
}
.lmrs{
	font-family: "LM Roman 10";
	font-size: 18px;
	line-height: 25px;
}

.lorem{
	padding-top: 25px;
	padding-right: 80px;
}
.menu-1{
	font-size: 18px;
	line-height: 25px;
	font-family: "Raleway", sans-serif;
}
.menu-2{
	padding-top: 40px;
	padding-right: 60px;
}
.menu{
	padding: 15px 0px 15px 50px;
}
.item{
	padding: 15px 20px 15px 20px;
	color: #000;
	font-family: "Raleway medium";
	font-size: 16px;
}
.menu-a{
	display: flex;
	cursor: pointer;
}
.menu-a .menu-text{
	margin-right: 20px;
	font-family: "Raleway medium";
	font-size: 18px;
	color: #000;	
}
.menu-a img{
	padding: 4px 0;
}
.menu-a:hover,
.menu-a:hover {
  background-color: #e3e3e3;
  color: rgba(0, 0, 0, 0.95);
}
.section-2{	
	background: url("images/Warstwa-2.png") no-repeat;
	display: flex;
	flex-direction: column;
	padding: 172px 185px 110px 691px;
}
.ipsum{
	padding-top: 24px;
}
.icon-1{
	display: flex;
	padding-top: 68px;	
}
.icon-1 a{
	display: block;	
	margin-right: 19px;
	background: url("images/f.png") no-repeat;
}
.icons-0{
	padding: 8px 12px 7px 13px;
}
.icons-1{
	padding: 8px 7px 7px 8px;
}
.icons-2{
	padding: 9px 7px 10px 8px;
}
.icons-3{
	padding: 8px 9px 7px 10px;
}
.icon-1 a:hover{	
	background: #000;
}
.sint{
	padding-top: 34px;
	padding-right: 6px;	
}
.eos{
	padding-left: 3px;
}
.raly-1 img{
	vertical-align: middle;
	padding-right: 40px;
}
.section-3{
	padding-right: 8.506px;
	padding-left: 8.506px;
}

.slide-1{
	height: 750px;
	background: url("images/background-2.png") no-repeat; 
}
.section-4{	
	background: url("images/background-3.png") no-repeat;	
	display: flex;	
	flex-direction: column;
	padding: 205px 890px 210px 181px;
}

.str{
	padding-top: 33px;

}
.duis{
	padding-top: 32px;
}
.section-5{	
	background: url("images/L.png") no-repeat;	
	padding: 150px 0px;
}
.footer{
	background: url("images/O-1.png") no-repeat;
	padding: 94px 258px 140px 258px;
	display: flex;	
	flex-direction: column;
	align-items: center;
}
.duis-2{
	padding-top: 30px;
	text-align: center;
}
.say{
	padding-right: 6px;
}
.form-container{
	display: flex;
	flex-direction: column;
	padding-top: 95px;
}
.yes{
	display: flex;
	justify-content: space-between;	
}
.mess{
	margin-top: 30px;
}
.snd{
	margin-top: 26px;
}
#subject, #email{
	width: 276px;
	height: 46px;
}
#subject, #email, #message{
	border: 1px solid #000;	
	background: #efefef;
	padding: 14px 0 15px 19px;
	font-family: "Raleway medium";
	font-size: 16px;
	font-weight: 500; outline: none;
}
#send{
	width: 584px;
	height: 46px;
	background: #909090;
	border: none;
	outline: none; 
	color: #fff;
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	font-weight: 600;
}
#send:hover{
	color: #fff;
	background: #000;
	cursor: pointer;
}
#message{
	overflow: auto; 
	resize: none;
	width: 584px;
	height: 130px;
}
input[type="email"]::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, textarea[type="text"]::-webkit-input-placeholder {
	color: #000;
	font-family: "Raleway medium";
	font-size: 16px;	
} 

input[type="email"]::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, textarea[type="text"]::-webkit-input-placeholder {
	color: #000;
	font-family: "Raleway medium";
	font-size: 16px;
}

