

#carousel {
  position: relative;
  height: 450px;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}
#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}
#carousel div img {
  width: 674px;
  transition: width 1s;
}
#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideLeft img {
  width: 200px;
}
#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideRight img {
  width: 200px;
}
#carousel div.prev {
  z-index: 5;
  left: 86px;
  transform: translateY(44px) translateX(-0%);
}
#carousel div.prev img {
  width: 540px;
}
#carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.prevLeftSecond img {
  width: 200px;
}
#carousel div.selected {
  z-index: 10;
  left: 414px;
  transform: translateY(0px) translateX(-0%);
}
#carousel div.next {
  z-index: 5;
  left: 878px;
  transform: translateY(44px) translateX(-0%);
}
#carousel div.next img {
  width: 540px;
}
#carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.nextRightSecond img {
  width: 200px;
}
.buttons #prev{
  height: 75px;
  width: 75px;
  position: absolute;
  bottom: 188px;
  left: 50px;
  border: none; 
  cursor: pointer; 
  outline: none;
}
.buttons #next{
  height: 75px;
  width: 75px;
  position: absolute;
  bottom: 188px;
  right: 50px;
  border: none;
  cursor: pointer; 
  outline: none;
}
.buttons {
  position: relative; 
}
